*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /*border: 2px solid red;*/
    min-height:100vh;
    display: flex;
    flex-direction: column;
    /*Initial Issue caused by using align-items which is required for the containers below the body which stretch out to take the full width*/
}

.header{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    
}

.header-logo{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;  
    
    
}

.header p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    gap:15px;
    padding: 0;
    margin: 0;
    color: #F9FAF8;
    font-size: 18px;
}

.websitegreat{
    
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    gap: 30px;
    
    align-content: stretch;
    
}

.header-wording{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;/*I like aquamarine here*/
}

button{
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

    
.place-holder{
    color: #e5e7eb;
    
    background-color: grey;
    flex:1;
    display: flex;
    justify-content: center;
   
    align-items: center;
    
    
}

.verbose-container{
    
    flex:1;
    background-color: #1f2937;
    
}

/*1st Content Box*/
.content-block-one{
    display: flex;
    flex-direction: column;
    
    
}

.random-information{
    
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 20px;

    
}

.illustration-holder{
    display: flex;
   
    justify-content: center;
    padding: 100px;
    padding-top: 50px;
    gap: 40px;
    
    

}

.boxes{
    
    display: flex;
    
    align-items: center;
    flex-direction: column;
   
 
}

.box{
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 8px;
    flex: 1 1 auto;
    
}

.boxes p{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    text-align: center;
    
    
    
    
}

/*Testimonial Box*/

.content-block-two{
    display: flex;
    width: 100;
    
    justify-content: center;
    background-color: #e5e7eb;
    padding: 60px;

}

.quote{
    
    display: flex;
    flex-direction: column;
    width: 55%;
}

.quotation{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
    font-style: italic;
}
.thor{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;

}

/*call to action*/

.content-block-three{
    
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    
   
    
}

.container-three{
    background-color: #3882f6;
    display: flex;
    border-radius: 8px;
    width: 60%;
    height: 45%;
    justify-content: space-around;
    align-items: center;
}


.call-to-action{
    display: flex;
    flex-direction: column;
    
}

.calltoaction{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.signup{
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;
}

.lowerbutton{
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px 30px;
}

/*footer*/

footer{
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 30px;
}